*{
    text-decoration: none;
    padding: 0;
    box-sizing:border-box;
    margin: 0;
}
.hero{
    display: flex;
    justify-content: space-between;
    height: 900px;
}
@font-face {
    font-family: 'Myfont';
    font-display: fallback;
    src: url(../Myfont/JosefinSans-VariableFont.ttf)
    format('truetype');
}
body{
    font-family: 'Myfont', sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.container{
    background-image: url(../images/bg-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px; 
    padding: 100px;
    padding-top: 50px;
}
.container1{
    height: 900px;
}
#we{
    font-weight: 300;
    font-size: 70px;
    color: hsl(0, 36%, 70%);
    letter-spacing: 20px;
}
h1{
    font-weight: 600;
    font-size: 70px;
    letter-spacing: 20px;
}
p{
    line-height: 1.4;
    color:hsl(0, 36%, 70%);    
}
input{
    height: 50px;
    width: 450px;
    border-radius: 30px;
    color: hsl(0, 36%, 70%);
    border: 1.9px solid;
   padding-left: 20px;
}
input::placeholder{
    color: hsl(0, 36%, 70%);    
}
input:focus{ 
    outline: none;
}
button{
    padding: 10px 20px;
    width: 90px;
    height: 51.5px;
    background: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    position: relative;
    bottom: 52px;
    left: 400px;
    border-radius: 30px;
    border: 1px solid hsl(0, 36%, 70%) ;
    /* transition: background 0.3 ease; */
}
button:hover{
    background: linear-gradient(hsl(0, 70%, 89%), hsl(0, 80%, 86%));
}
